body {
background-color: #989898;
}
header {
    margin: auto;
    padding: 15%;
    background-color: black;
    font: Roboto;
    font-size: large;
    color: cornsilk;
    max-width: 1440px;
    width: 70%;
    height: auto;
    text-align: center;
    
}
.NavBar {

}
ul {
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: inline;
  float: left;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}