body {
background-color: #989898;
}
header {
    margin: auto;
    background-color: black;
    font: Roboto;
    font-size: large;
    color: cornsilk;
    max-width: 1440px;
    width: 70%;
    height: auto;
    text-align: center;
    
}