/* Best practice for Your body style is to set your default font-family, background color, or any other spefications that would be relevent for the entire page. Tags like body, footer, and header don't need a designated class */

body {
	background-color: #989898;
    margin: 0%;
    font-family: Roboto, Helvetica, sans-serif;
}

/* Header and Logo */

.header {
    font-size: larger;
    padding: 5%;
    margin: auto;
    background-color: #000000;
    text-align: center;
    width: 100%;
}

.headerimg {
	margin: auto;
	height: auto;
	width: 75%;
	max-width: 600px;
    float: none;
}

/* Navigation Bar */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: cornflowerblue;}

ul.topnav li a.active {background-color: #333;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 800px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


/* White Background for main content */

.main {
	background: white;
	overflow: auto;
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding: 2%;
}

/* Work Examples Gallery */

.slideshow {
	width: 100%;
	max-width: 800px;
	height: 500px;
	overflow: hidden;
}

.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}

bar.hover {
	background: #fff;
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;
}

.slide {
	transition: 0.6s;
}

#r1: :checked ~ .s1 {
	margin-left: 0%;
}

#r2: :checked ~ .s1 {
	margin-left: -20%;
}

#r3: :checked ~ .s1 {
	margin-left: -40%;
}

#r4: :checked ~ .s1 {
	margin-left: -60%;
}

#r5: :checked ~ .s1 {
	margin-left: -80%;
}


.SliderImg1 {
	width: 100%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

.SliderImg2 {
	width: 80%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

.SliderImg3 {
	width: 80%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

.SliderImg4 {
	width: 80%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

.SliderImg5 {
	width: 120%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

.SliderImg6 {
	width: 60%;
	max-width: 400px;
	height: auto;
	border: 5px solid cornflowerblue;
	box-shadow: 2px 3px 3px black;
    
}

h2 {
	background: grey;
	color: cornsilk;
	text-shadow: black 2px;
	padding: 2%;
	margin: auto;
	text-align: center;
}

/* Work History Cards */

.card2 {   
	width: 90%; 
	background: cornflowerblue;
	max-width: 800px; 
	height: auto;
	padding: 5%;  
	overflow: auto;
	box-shadow: 2px 3px 3px black;
   
}

.resume { 
	width: 90%;
	max-width: 750px;
	color: black; 
	background: white; 
	font-size: 110%; 
	padding: 5%; 
	margin: auto; 
	overflow: auto;
	box-shadow: 2px 3px 3px black;
}

.p2 {
	margin: 0% 10% 0% 10%;
	border: 10px solid grey;
	padding: 5%;
	overflow: auto;
	box-shadow: 2px 3px 3px black;
}

/* The flip card container. I have added the border property to demonstrate that the flip itself goes out of the box on hover */

.flip-card {
  background-color: grey;
  display: block;
  padding: 5%;
  border-radius: 15%;
  border: 20px solid cornflowerblue;
  width: 85%;
  max-width: 400px;
  height: 400px;
  margin: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
  border-radius: 15%;
  box-shadow: 2px 3px 3px black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  border-radius: 15%;
  box-shadow: 2px 3px 3px black;
  transform: rotateY(180deg);
	overflow: auto;
}

.BNY {
	width: 75%;
	max-width: 400px;
	border: 5px;
    padding: 15% 10%;
	
}

.ASPCA {
	width: 75%;
	max-width: 400px;
	padding:20% 10%;
}

.ABC {
	width: 35%;
	max-width: 400px;
	padding: 10%;
}

.TAL {
	width: 75%;
	max-width: 400px;
	padding: 40% 10%;
}





footer {
	background: black;
	width: 100%;
	max-width: 1400px;
	padding: 2%;
}

/* Bio Card */
	
.bio { 
	width: 50%;
	max-width: 1000px;
	height: auto;
	color: black; 
	background: white; 
	font-size: 100%; 
	padding: 2%; 
	margin: auto;
	overflow: auto;
	border-radius: 15%;
	box-shadow: 5px 6px 6px black;
}

.imgcard {
	width: 25%; 
	max-width: 150px; 
	height: auto; 
	float:left; 
	border-radius: 50%; 
	background: white;
	margin-right: 30px;
	margin-bottom: 10px;
	border: 5px solid navy; 
	box-shadow: 2px 3px 3px black;
}

.p1 {
	margin: 0% 10% 0% 10%;
	border: 10px solid cornflowerblue;
	padding: 5%;
	border-radius: 15%;
	overflow: auto;
	box-shadow: 2px 3px 3px black;
	background: white;
}



